/* //ALIGN MOVES THINGS IN ROWS AND JUSTIFY IN COLUMNS */
/* @import url("https://fonts.googleapis.com/css2?family=family=Amatic+SC&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
:root {
--primary-color: #1B98E0;
--secondary-color: #59c3c3;
--text-dark: #333;
--text-light: #ebebeb;
--primary-font: Arial, Helvetica,sans-serif;
--secondary-font: "Patrick Hand";
}

body{
    font-family: 'Patrick Hand', Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

h1{
    font-family: 'Patrick Hand', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline-block;
    font-size: 50px;
}

.logoimg{
    width: 100px;
    height: auto;
}

header .title{
    display: flex;
    padding: 1.8em;
    align-items:start;
    justify-content: center;
    letter-spacing: 5px;
}

header{
    border-bottom: 2px solid grey;
    padding: 1em;
}

.search{
    padding-bottom: 20px;
    width: 100%;

}

.search img{
    width: 40px;
    float: right;
    padding-left: 10px;
    border-left: 1px solid black;
}

.search input{
    border: none;
    font-size: 1.5em;
}

.search fieldset{
    border-radius: 10px;
    border: 1px solid black;
}

.dessert{
    margin: 30px;
    /* width: 80%; */
    padding: 30px;
    border: 1px solid black;
    border-radius: 5px;
}

.dessert button{
    font-size: 25px;
    background-color: white;
}

.dessert p{
    display: none;
}

h2{
    color: #1B98E0;
    font-size: 2em;
    margin-bottom: 0;
}

.recicons{
    font-size: 0.6em;
    text-align: center;

}

.social{
    display: flex;
    width: auto;
    justify-content: center;
    gap: 10px;
        
}

.social img{
    width: 50px;
    height: auto;
}


footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

img {
	max-width: 100%;
}

* {
    box-sizing: border-box;
  }

  main {
    margin: 0 auto;
  }

  @media screen and (min-width: 600px) {
        .dessert{
            display: flex;
            /*flex-direction: column; */
            /* flex-direction: row; */
        }

        .dessert img{
            width: 60%;
            padding-right: 20px;
        }

        .dessert p{
            display: block;
        }

        footer{
            flex-direction: row-reverse;
            justify-content: space-between;
        }

    @media screen and (max-width: 960px) {
        main{
            max-width: none;
        }

        
    }



}