@import url("https://fonts.googleapis.com/css2?family=family=Mooli&display=swap");

:root {
    --primary-color: #52489c;
    --secondary-color: #59c3c3;
    --accent-color: #f45b69;
    --text-dark: #333;
    --text-light: #ebebeb;
    --primary-font: Arial, Helvetica, sans-serif;
    --secondary-font: Mooli, san-serif;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--primary-font);
    font-size: 1.2em;
}

a:link,
a:visited {
    color: white;
}

nav {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #52489c;
    text-align: center;
    color: white;
    padding-top: 20px;
}

h2 {
    padding-top: 20px;
}

.menu-button {
    background-color: transparent;
    text-decoration: none;
    font-size: 2em;
    border: none;
    color: white;
}

.hide {
    display: none;
}

.gallery img {
    max-width: 100%;
    width: 250px;
    height: 250px;
    object-fit: cover;
    border: 0.3em solid white;
    box-shadow: 1px 1px 2px 3px #636363;
}

.viewer {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: grid;
    grid-template-rows: auto 1fr;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 10;

}

.viewer img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    padding: 15px;
}

.close-viewer {
    color: white;
    justify-self: end;
    font-size: 1.2em;
    padding: 15px;
    padding-top: 2em;
    background: none;
}

.gallery {
    display: grid;
    text-align: center;
}

figure {
    margin: 15px;
}

main {
    display: grid;
    gap: 1rem;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

section {
    background-color: white;
    padding: 1rem;
}

footer {
    background-color: #52489c;
}

@media screen and (min-width: 700px) {
    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1000px) {
    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    nav {
        flex-direction: row;
        justify-content: space-around;
    }

    nav a {
        display: block;
    }

    .viewer {
        width: 80%;
        height: 95%;
        align-self: center;
        justify-self: center;
    }

    .viewer img{
        align-self: center;
        max-width:70%;
    }

}