body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    line-height: 1.5;
}

header{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .4rem;
    border-bottom-color: rgba(151, 151, 151, 0.877);
}

h2{
    font-size: 1rem;
    border-bottom: 1px solid grey;
    color: #006eb6;
}

p:nth-child(2)
{
    font-style: italic;
}

.list{
    display: flex;
    flex-direction: column;
    gap: 15px;    
}

p{
    text-align: left;
}

.logo, .dark-logo{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 150px;
    margin: 0 auto;
}

.logo{
    display: block;
}

.darkLogo{
    display: none;
}

body.dark{
    background-color: #333;
    color: white;
}

body.dark .logo{
    display: none;
}

body.dark .darkLogo{
    display: block;
}

.dark h2{
    color: #4F9ACF;
}


/*
.footer-logo{
    size: 150px;
    width: 200px;
    height: auto;
}

body{
    align-content: center;
}
*/